@tailwind base;
@import './fonts.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-proxima-nova font-normal antialiased text-[14px] md:text-[16px] text-textcolor leading-[23px];
  }

  a {
    @apply transition ease-in-out;
  }

  .btn {
    @apply h-[42px] md:h-[54px] font-medium text-[13px] md:text-[16px] block leading-[40px] md:leading-[54px] px-[30px] text-center bg-white text-[#19637B] uppercase transition-all;
  }

  .btn.lightblue {
    @apply bg-lightblue text-white font-semibold drop-shadow-[0px_13px_16px_rgba(0,0,0,0.1)];
  }

  .btn.lightblue:hover {
  }

  .btn:hover {
    @apply bg-[#084C64] border-transparent text-white;
  }

  .btn.outborder {
    @apply border-[#084C64] border-[2px] bg-transparent md:leading-[50px];
  }

  .btn.outborder:hover {
    @apply bg-[#084C64] border-transparent text-white;
  }

  .slogan {
    transform: matrix(0, -1, 1, 0, 0, 0);
    white-space: nowrap;
    letter-spacing: 0.55px;
  }

  .main-slideshow .slick-arrow {
    @apply bg-[url('/icons/arrow-b-r.svg')] bg-[length:41px_82px] h-[82px] w-[41px] absolute top-0 bottom-0 my-auto z-10 opacity-50 hover:opacity-100 transition-all;
  }

  .main-slideshow .slick-arrow::before {
    @apply hidden;
  }

  .main-slideshow .slick-arrow.slick-next {
    @apply right-[7%] -scale-x-100;
  }

  .main-slideshow .slick-arrow.slick-prev {
    @apply left-[8%] scale-x-100;
  }

  .main-nav li {
    @apply mx-[26px];
  }

  .main-nav li a {
    @apply font-bold block py-3 text-center md:text-left md:py-0 text-[#023141] uppercase text-[14px];
  }

  .main-nav li a:hover {
    @apply text-lightblue;
  }

  .main-nav li.active a {
    @apply text-lightblue font-bold md:rounded-[2px] md:bg-[#19637B0B] md:px-[28px] md:h-[38px] md:leading-[36px];
  }

  .chambres-appart .inner::after {
    @apply content-[''] h-[35px] bg-[#fff] absolute bottom-0 -left-1 w-full hidden md:block;
  }

  .slide-pagination .item {
    @apply cursor-pointer;
  }

  .slide-pagination .item * {
    @apply transition-all;
  }

  .slide-pagination .item::before {
    @apply w-[14px] h-[14px] border-[2px] border-[#fff] rounded-full bg-[#cde0e6] absolute -top-[7px] left-auto right-auto block content-[''];
  }

  .slide-pagination .item:hover * {
    @apply opacity-100;
  }

  .slide-pagination .item:before {
    @apply transition-all;
  }

  .slide-pagination .item.active::before {
    @apply bg-[#09556f] w-[25px] h-[25px] -top-[12px];
  }

  .mediatheque-slide .slick-slide {
    @apply opacity-20 transition-opacity;
  }

  .mediatheque-slide .slick-center {
    @apply opacity-100;
  }

  .vertical-tabs .react-tabs__tab--selected {
    @apply text-white bg-white/5;
  }

  .vertical-tabs .react-tabs__tab--selected .read-more {
    @apply block;
  }

  .iframe {
    @apply h-full w-full min-h-full absolute top-0 bottom-0 left-0 right-0 my-auto;
  }

  .input {
    @apply w-full h-[48px] md:h-[55px] bg-white border-[1px] border-[#1D647D14] rounded-[35px] px-[32px] py-[5px] drop-shadow-[0px_5px_5px_rgba(0,0,0,0.02)];
  }

  textarea.input {
    @apply h-[120px] appearance-none resize-none py-[20px];
  }

  .input-file-label {
    @apply block w-full h-[55px] bg-white border-[1px] border-[#1D647D14] rounded-[35px] px-[32px] py-[5px] drop-shadow-[0px_5px_5px_rgba(0,0,0,0.02)] relative;
  }

  .input-file-label span {
    @apply absolute w-full h-full left-0 top-0 px-[32px] leading-[52px];
  }

  .selectinput {
    @apply w-full h-[55px] bg-white border-[1px] border-[#1D647D14] rounded-[35px] px-[32px] py-[5px] drop-shadow-[0px_5px_5px_rgba(0,0,0,0.02)] appearance-none
    bg-[url('/icons/arrow-down.svg')] bg-[length:16px_10px] bg-[center_right_25px] bg-no-repeat;
  }

  .input:focus,
  .selectinput:focus {
    @apply outline-none;
  }

  .input.calendar {
    @apply bg-[url('/icons/calendar-2.svg')] bg-[length:18px_20px] bg-[center_right_25px] bg-no-repeat;
  }

  .choice label {
    @apply inline-block bg-[#1D647D0B] drop-shadow-[0px_5px_5px_rgba(0,0,0,0.02)] rounded-[35px] h-[46px] leading-[44px] text-[#09556F7B] font-medium px-[25px] mr-[25px] cursor-pointer;
  }

  .choice input:checked + label {
    @apply bg-lightblue text-white;
  }

  .choice input:checked + label i {
    @apply block;
  }

  .std {
    @apply text-justify;
  }

  .std p {
    @apply mb-4;
  }

  .std ul {
    @apply list-disc pl-[15px];
  }

  .table {
    @apply w-full;
  }

  .table th,
  .table td {
    @apply border-b-[1px] border-[#ccc] p-2;
  }
}
